<!DOCTYPE html>
<head>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
	<script src="http://d3js.org/d3.geo.projection.v0.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="data/stylesheet.css"/>
</head>


<body>

<div id="container-fluid">
	<div id="row-fluid">
		<div id="col-md-12">
			
<div class="jumbotron">			
<h1 id="title"> maps with d3.js </h1>
</div>


<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
  	Choose a map
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#texas-map-1">Texas Pop w/ Tooltip</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#texas-map-2">Texas Pop Quantized Chloropleth</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#texas-map-3">Texas Pop</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#wa-map"> WA Counties </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#worldMap"> World Map </a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#rotatingEarth"> Rotating Earth </a></li>


  </ul>
</div>

<!-- Texas County Map with name+population tooltip on hover-->
<div id="texas-map-1" class="map">
	<p id="txdesc" class="map-desc"> <strong> Texas Population by County Tooltip </strong> </p>
	
	<div id="tooltip" class="hidden">
		<p><span id="info-label"></span></p>
	</div>
	
</div>


<div id="texas-map-2" class="map">
	<p id="txdescquant" class="map-desc"> Texas Population Quantized Choropleth</p>
	
</div>

<div id="texas-map-3" class="map">
	<p id="txdescthresh" class="map-desc"> Texas Population Choropleth with Threshold Scale</p>
	
</div>


<div id="wa-map" class="map">
	<p id="wadesc" class="map-desc"> Washington County Map with Tooltip </p>
	
	<div id="tooltip" class="hidden">
		<p><span id="info-label"></span></p>
	</div>
	
</div>


<div id="worldMap">
	</div>


	<div id="rotatingEarth">
	</div>
	

<script src="data/texmap-1.js"></script>
<script src="data/texmap-2.js"></script>
<script src="data/texmap-3.js"></script>
<script src="data/wa-map.js"></script>
<script src="data/worldMap.js"></script>
<script src="data/rotatingEarth.js"></script>
</div>
</div>
</div>
</body>
</html>